@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Inter', sans-serif;
}

.font-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.font-body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}